  .header-area.header-sticky .header-image {
    margin-top: -29px;
    width: 165px;
    margin-left: 45px;
    margin-right: 19px;
    object-fit: contain;
  }
  
  .header-area.header-sticky.background-header .header-image {
    margin-top: -12px;
    width: 165px;
    margin-left: 45px;
    margin-right: 19px;
    object-fit: contain;
  }
  
  .container .eye {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .container .eye-slash {
    position: absolute;
    animation: keyframes-fill .5s;
    display: none;
  }
  
  .container input:checked ~ .eye {
    display: none;
  }
  
  .container input:checked ~ .eye-slash {
    display: block;
  }
  
  .erro-mensagem {
    margin-top: -15px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2);
    }
  }